Repository yooneverse/ssafystudy, pull requests merged in 2025-08, with the labels that each got.

#11 SWEA_계산기_암호생성기_지윤
  README.md
  jiyoon/test.txt
  jiyoon/week2/SWEA_1219_길찾기.py
  jiyoon/week2/SWEA_2001_파리퇴치.py
  jiyoon/week2/SWEA_2005_파스칼의 삼각형.py
  jiyoon/week2/SWEA_21425_+=.py
  jiyoon/week2/SWEA_24449_야구선수.py
  jiyoon/week3/SWEA_1223_계산기2.py
  jiyoon/week3/SWEA_1225_암호생성기.py
Labels: Stack, Queue

#15 SWEA_미로2_외_3문제_수연
  suyeon/week3/swea_10966_물놀이를가자.py
  suyeon/week3/swea_노드의거리.py
  suyeon/week3/swea_미로2.py
  suyeon/week3/swea_미로의거리.py
Labels: Queue, BFS

#14 SWEA_1226_미로1_외_4문제_도현
  dohyun/week3/SWEA_10966_물놀이를_가자.py
  dohyun/week3/SWEA_1226_미로1.py
  dohyun/week3/SWEA_1227_미로2.py
  dohyun/week3/SWEA_16673_노드의_거리.py
  dohyun/week3/SWEA_16674_미로의_거리.py
Labels: Queue, BFS

#23 BAEK_2839_설탕배달_외_1문제_지윤
  jiyoon/week4/SWEA_1231_중위순회.py
  jiyoon/week4/백준_2839_설탕배달.py
Labels: Tree, 그리디, BAEKJOON, SWEA

#26 BAEK_1991_트리_순회_외_1문제_하원
  hawon/week4/BAEK_1991_트리순회.py
  hawon/week4/SWEA_25052_등산로.py
  hawon/week4/백준_1012_유기농배추.py
Labels: Tree, 완전 탐색, BAEKJOON, SWEA

#28 BAEK_1991_트리_순회_외_1문제_지윤
  jiyoon/week4/BAEK_1991_treesoonhwae.py
  jiyoon/week4/SWEA_25052_등산로.py
Labels: Tree, DFS, 완전 탐색, BAEKJOON, SWEA
